:root{
    --verde-asbama: #1c5020;
    --gray-container: #f0f2f5;
    --gray-hover-ribbon: rgb(250, 250, 250);
    --gray-not-found: #6f6f6f;
    --gray-border: #f7f7fa;
    --gray-hover-border: #cfcfcf;
    --gray-button: #dfdfdf;
    --green-background-alert: #d8edd0;
    --green-border-alert: #e8f3e4;
    --green-font-alert: #4d7448;
    --red-background-alert: rgb(251, 142, 142);
    --red-border-alert: rgb(255, 84, 84);
    --red-font-alert: rgb(124, 2, 2);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
}

/* Header *********************************************************************************************************/

.header__container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid gray;
    background-color: white;
    /* left: 0; Posicionamos la cabecera al lado izquierdo */
	/* top: 0; Posicionamos la cabecera pegada arriba */
	/* position: fixed; Hacemos que la cabecera tenga una posición fija */
}
.header__container:hover{
    border-bottom: 1px solid black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.header .header__logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1) opacity(0.7);
    transition: 350ms;
    outline: none;
}
.header .header__logo a{
    text-decoration: none;
}

.header__logo a:hover{
    filter: grayscale(0) opacity(1);
}

.header__logo-img{
    width: 80px;
    margin-right: 10px;
}

.header__logo-brand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.brand__info-title{
    color: var(--verde-asbama);
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.brand__info-slg{
    color: black;
    font-size: small;
    padding-bottom: -10px;
}

.navbar{
    padding: 0px;
    margin: 0px;
    width: 120px;
}

.navbar__menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar__menu-item{
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.navbar__menu-item a{
    text-decoration: none;
    text-align: center;
    filter: grayscale(1) opacity(0.7);
    transition: 200ms;
}

.navbar__menu-item a:hover{
    filter: grayscale(0) opacity(1);
    color: var(--verde-asbama);
    text-decoration: underline;
    outline: none;
}

/* Content ***********************************************************************************/

.container{
    /* background-color: #dfdfdf; */
    background-color: var(--gray-container);
}

.container .content{
    min-height: 680px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}

.ribbon{
    z-index: 2;
    padding: 0;
    /* border-bottom: 1px solid #dfdfdf; */
    margin: 0;
    height: 30px;
    width: 80%;
    margin: 0 auto;
}
/* RIBBON *****************************************************************************************/
.ribbon .ribbon__list{
    height: 100%;
    width: 97%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
}
.ribbon__list--item{
    z-index: 2;
    padding: 0 5px;
    height: 100%;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.linked__ribbon{
    text-decoration: none;
    font-size: small;
    text-align: center;
    color: var(--verde-asbama);
    outline: none;
    filter: grayscale(1) opacity(0.7);
    /* font-weight: bold; */
    transition: 200ms;
}
.ribbon__list--item:hover{
    background-color: var(--gray-hover-ribbon);
}
.ribbon__list--item:hover .linked__ribbon, .linked__ribbon:hover{
    text-decoration: underline;
    filter: grayscale(0) opacity(1);
    background-color: var(--gray-hover-ribbon);
}

/* ribbon menu *****************************************************************************************/
.ribbon__list--item  .user__nav{
    text-align: center;
    width: 100%;
    height: 100%;
}

.user__nav--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.user__nav--logo .icon{
    width: 45px;
    height: 45px;
}

.user__nav--logo .title{
    font-size: small;
    color: var(--verde-asbama);
    outline: none;
    filter: grayscale(1) opacity(0.7);
    transition: 200ms;
}
.ribbon__list--item:hover .user__nav--logo .title, .user__nav--logo .title:hover{
    text-decoration: underline;
    filter: grayscale(0) opacity(1);
    background-color: var(--gray-hover-ribbon);
}
.user__nav .user__nav--block{
    display: none;
    list-style: none;
    padding: 20px;
    margin: 6px 0px 0px -70px;
    width: 100px;
    position: absolute;
    text-align: end;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.18);
    border-radius: 5px;
}
.user__nav .user__nav--block .nav__block--item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}


.user__nav .user__nav--block .nav__block--item .linked__ribbon--menu{
    text-decoration: none;
    font-size: small;
    padding: 5px;
    color: var(--verde-asbama);
    outline: none;
    filter: grayscale(1) opacity(0.7);
    transition: 200ms;
    width: 100%;
    height: 100%;
}
.nav__block--item:hover{
    text-decoration: underline;
    color: var(--verde-asbama);
    filter: grayscale(0) opacity(1);

}
.linked__ribbon--menu:hover{
    filter: grayscale(0) opacity(1);
    background-color: var(--gray-hover-ribbon);
    text-align: end;
}

.ribbon__list--item:hover .user__nav--block, .user__nav--block:hover{
    display: block;
}


/* Not Found ********************************************************************************/
.error__alert{
    width: 50%;
    margin: 0px auto;
    padding: 100px 0;
}

.error__alert-code{
    font-size: 100px;
    color: black;
    font-weight: bolder;
    transition: 100ms;
}

.error__alert-msg{
    text-align: center;
    font-size: large;
    color: black;
    font-weight: bold;
}

.error__alert-ficha-tecnica{
    padding: 20px 0 0 0;
    font-size: 12px;
    color: var(--gray-not-found);
}

/* Boun section  *************************************************************************/

.animated:hover {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    color: var(--verde-asbama);
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.bounce {
    animation-name: bounce;
}

/* Login ************************************************************************************/
.form__container{
    /* border: 2px solid #dfdfdf; */
    border: 2px solid var(--gray-border);
    width: 34%;
    min-height: 400px;
    margin: 0px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 380px;
    padding: 50px 0px;
}

.form__container:hover{
    border: 2px solid var(--gray-hover-border);
}

.logo{
    width: 200px;
}

.form__container-session{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__session-item{
    width: 95%;
    height: 40px;
    min-width: 250px;
    padding: 5px;
    margin: 20px 0;
    border-bottom: 2px solid var(--gray-not-found);
    position: relative;
}

.container__session-item:hover{
    border-bottom: 2px solid black;
    color: black;
}


/* .container__session-item > label{
    font-size: small;
    color: #6f6f6f;
}

.container__session-item > input{
    border: none;
    outline: none;
    color: black;
} */

.container__session-item  input{
    width: 100%;
    padding: 10px 2px 10px 15px;
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    color: black;
}

.container__session-item  label{
    padding: 10px;
    font-size: 14px;
    color: var(--gray-not-found);
    position: absolute;
    top: 5px;
    left: 11px;
    pointer-events: none;
    transition: .5s;
    background: transparent;
}

.container__session-item  input:focus ~ label,
.container__session-item  input:valid ~ label{
    padding-bottom: 0px;
    top: -20px;
    left: 11px;
    color: var(--verde-asbama);
    font-size: 12px;
}

.container__session-submit{
    width: 100%;
    outline: none;
}

#submit{
    width: 120px;
    height: 100%;
    min-height: 30px;
    background-color: var(--gray-button);
    padding: 2px;
    /* background-color: #f7f7fa; */
    color: black;
    border-radius: 35px;
    margin: 10px 0;
    outline: none;
    object-fit: cover;
    border: none;
    cursor: pointer;
    transition: .1s;
}

#submit:active{
    background-color: var(--verde-asbama);
    color: white;
    font-weight: bold;
}

.bkg__container{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.background__image{
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    bottom: -5px;
    height: 110%;
    overflow: hidden;
    filter: opacity(0.8) blur(8px);
    width: 110%;
    z-index: 0;
    left: -10px;
    right: 0;
}

/**** FOoter ***************************************************************************************/
.footer__container{
    margin: 0px;
    padding: 20px;
    /* background-color: #dfdfdf; */
    background-color: var(--gray-container);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #dfdfdf; */
    background-color: var(--gray-container);
}

.copy{
    /* background-color: #dfdfdf; */
    background-color: var(--gray-container);
    color: black;
    font-size: small;
}
.copy a{
    font-weight: bold;
    text-decoration: none;
    /* background-color: #dfdfdf; */
    background-color: var(--gray-container);
}

.copy a:hover{
    text-decoration: underline;
}

.alert{
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    transition: 250ms all;
}

#alerta{
    background-color: var(--green-background-alert);
    border: 1px solid var(--green-border-alert);
    color: var(--green-font-alert);
}

#alerta-mensaje{
    background-color: var(--green-background-alert);
    color: var(--green-font-alert);
}

#error{
    background-color: var(--red-background-alert);
    border: 1px solid var(--red-border-alert);
    color: var(--red-font-alert);
}

#error-mensaje{
    background-color: var(--red-background-alert);
    color: var(--red-font-alert);
}

.alert:hover{
    cursor: pointer;
}

.alert > button{
    border: none;
    outline: none;
    padding: 10px;
}

#alerta > button{
    background-color: var(--green-background-alert);
    color: var(--green-font-alert);
}

#error > button{
    background-color: var(--red-background-alert);
    color: var(--red-font-alert);
}

.bienvenida{
    z-index: 1;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.18);
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
}
.mensaje{
    width: 100%;
    background-color: transparent;
    border: none;
}

/* Account ***********************************************************************/
.current__user-info{
    z-index: 1;
    width: 80%;
    min-height: 100px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.18);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}
.user__info-tittle{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__info-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
}

.user__info-photo{
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover; /*Ajustamo la imagen al tamaño original */

}
.user__info-image-container{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-image: url('/static/images/profile.jpg');
}

.user__info-data{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user__info-data .user__info-macro{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user__info-data .user__info-macro .info__title{
    color: var(--gray-not-found);
    margin-right: 10px;
    width: 82px;
    text-align: right;
}

/* Searching Users ********************************************************************/

.currents__users{
    width: 80%;
    min-height: 100px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.18);
    border-radius: 15px;
    padding: 20px;
}

.currents__users-table{
    margin:  0 auto;
}

.users__table-item{
    background-color: var(--gray-button);
    /* background-color: #f7f7fa; */
    width: 150px;
    padding: 5px 2px;
}
.vinculo{
    text-decoration: none;
}
.vinculo:hover{
    /* text-decoration: underline; */
    color: var(--verde-asbama);
    font-weight: bold;
}

.table__title{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}
/* Carrusel ***********************************************************************************/

.carousel{
    width: 80%;
    overflow: scroll;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.carousel__container{
    white-space: nowrap;
    margin: 30px 0px;
    padding: 10px;
    display: flex;
}

.carousel__item{
    min-width: 200px;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms all;
    transform-origin: center left;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.18);
    position: relative;
}

.carousel__item:hover ~ .carousel__item{
    transform: translate3d(10px, 0, 0);
}

.carousel__container:hover .carousel__item{
    opacity: 0.5;
    filter: blur(4px);
}

.carousel__container:hover .carousel__item:hover{
    transform: scale(1.05);
    opacity: 1;
    filter: blur(0);
}

.carousel__item-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover; /*Ajustamo la imagen al tamaño original */
}

.carousel__item-details{
    min-width: 95%;
}

.item__details-username{
    color: black;
    font-weight: bold;
}
.void{
    min-width: 10px;
    width: 10px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    margin-right: 10px;
}

.carousel__item-details .item__details-data{
    /* display: none; */
    margin-top: 0px;
    font-size: 12px;
    /* transition: 1.5s; */
}
.carousel__item:hover .item__details-data{
    display: block;
}

/* search ***************************************************************************************/

.main__search{
    width:  90%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.main__search .main__search--title{
    margin: 20px auto;
    text-align: center;
}

.main__search .main__search--title h2{
    margin: 0px;
    padding: 0%;
    font-weight: bold;
}

.form__search-container{
    width: 95%;
    margin: 0 auto;
    min-height: 60px;
}

.form__search-container .main__search-input{
    width: 80%;
    margin: 0 auto;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__search-container .main__search-input  input{
    background-color:  rgba(0, 0, 0 ,0.03 );
    width: 100%;
    height: 100%;
    border:  2px solid #f2f2f2;
    border-radius: 35px;
    font-size: medium;
    font-weight: bold;
    padding-left: 20px;
    color: black;
    outline: none;
    margin-right: 5px;
}
::placeholder{
    color: var(--gray-not-found);
}

/* Media *************************************************************************************/
@media(max-width: 1100px){
    .form__container{
        border: none;
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form__container:hover{
        border: none;
    }
    .container .content{
        min-height: 50px;
    }
    .user__info-details{
        flex-direction: column;
    }
    .current__user-info{
        box-shadow: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .user__info-image-container{
        margin-bottom: 20px;
    }
    .form__search-container{
        height: 200px;
    }
    .main__search{
        height: 160px;
    }
    .form__search-container .main__search-input{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .form__search-container .main__search-input  input{
        margin-right: 0px;
    }
}

@media(max-width: 545px){
    #last{
        display: none;
        padding: 0px;
    }
    .main__search{
        margin-bottom: 20px;
        height: 180px;
    }
}
@media(max-width: 450px){

    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    .header .header__logo a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo-img{
        margin: 0px;
    }
    .header__logo-brand{
        align-items: center;
    }
    .brand__info-slg{
        padding: 0px;
        text-align: center;
        margin-bottom: 10px;
    }
    .navbar{
        margin-bottom: 5px;
        font-size: 8px;
    }
    .container .content{
        width: 95%;
        background-color: white;
        padding: 10px 0;
        min-height: 50px;
    }
    .ribbon{
        width: 95%;
    }
    .ribbon .ribbon__list{
        justify-content: center;
    }
    .copy{
        text-align: center;
    }
    .info__data{
        max-width: 150px;
        overflow: hidden;
    }
    .users__table-item{
        width: 80px;
        font-size: small;
    }
    .vinculo{
        font-size: small;
    }
    .item{
        font-size: small;
    }
    .main__search{
        margin-bottom: 20px;
        height: 160px;
    }
    .carousel{
        width: 100%;
    }
    .main__search .main__search--title h2{
        font-size: large;
    }
}