{% extends "base.html"  %}
{% import "macros.html" as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    {{ current_user.username }}
{% endblock %}

{% block content%}
    {% if userIp %}
        {{ macros.render_userDataBlock(current_user) }}
        <div class="current__user-info">
            <div class="table__title">
                Registros del usuario: {{ current_user.nombre }}
            </div>
            <table class="currents__users-table">
                <tr class="users__table-master">
                    <th class="users__table-item">User</th>
                    <th class="users__table-item">Telefono</th>
                    <th class="users__table-item">Fecha</th>
                    <th class="users__table-item" id="last">Descripción</th>
                </tr>
                {{ macros. render_registerTableData(registros) }}
            </table>
        </div>
    {% else %}
        <a href="{{ url_for('home') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}
