{% import "macros.html" as macros %}

<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %} Asbama |  {% endblock %}
            </title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
        </head>
        <body>
            <div class="header__container">
                {% include 'header.html' %}
            </div>
            {% for message in get_flashed_messages() %}
                {{ macros.render_flashes(message) }}
            {% endfor %}
            <section class="container">
                {% include 'reabon.html' %}
                <div class="content">
                    {% block content %}
                        content
                    {% endblock %}
                </div>
            </section>
            <div class="footer__container">
                {% include 'footer.html' %}
            </div>
        </body>
        <script type="text/javascript">
            function CerrarNotificacionEmergente(){
                var contenedor = document.getElementById("alert");
                contenedor.style.display = "none";
                return true;
            }
        </script>
    </html>
