{% import "macros.html" as macros %}

<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %} Asbama |  {% endblock %}
            </title>
            <!-- <link rel="icon" href="https://i.ibb.co/1Qjjj2t/pHcq4C3C.jpg"> -->
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
            <link rel="icon" href="{{ url_for('static', filename='images/logo_vec.png') }}">

        </head>
        <body>
            <div class="header__container">
                {% include 'header.html' %}
            </div>
            {% for category, message in get_flashed_messages(with_categories=true) %}
                {{ macros.render_flashes(category, message) }}
            {% endfor %}
            <section class="container">
                {% include 'ribbon.html' %}
                <div class="content">
                    {% block content %}
                        content
                    {% endblock %}
                </div>
            </section>
            <div class="footer__container">
                {% include 'footer.html' %}
            </div>
        </body>
        <script type="text/javascript">
            setTimeout(() => {
                CerrarContenedor("alerta");
            }, 5000 );
            setTimeout(() => {
                CerrarContenedor("error");
            }, 10000 );

            setTimeout(() =>{
                CerrarContenedor("bienvenida");
            }, 15000);

            function CerrarContenedor(id){
                let contenedor = document.getElementById(id);
                contenedor ? contenedor.style.display = "none" : console.log(`Contenedor con Id: ${id}, no encontrado.`);
            }
        </script>
    </html>
