{% extends "base.html"  %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Cambiar Contraseña
{% endblock %}

{% block content%}
    {% if userIp %}
        <div class="form__container">
            <img class="logo" src="{{ url_for('static', filename='images/asbama.jpg') }}" alt="Asbama Logo">
            <form action="{{ url_for('auth.changePassword') }}" method="POST" class="form__container-session" role="form">
                <div class="container__session-item">
                    {{ changepassword.currentPassword }}
                    {{ changepassword.currentPassword.label }}
                </div>
                <div class="container__session-item">
                    {{ changepassword.password }}
                    {{ changepassword.password.label }}
                </div>
                <div class="container__session-item">
                    {{ changepassword.confirmPassword }}
                    {{ changepassword.confirmPassword.label }}
                </div>
                <div class="container__session-submit">
                    {{ changepassword.submit }}
                </div>
            </form>
        </div>
    {% else %}
        <a href="{{ url_for('index') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}