{% extends "base.html"  %}
{% import "macros.html" as macros %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{super()}}
    configuracion
{% endblock %}


{% block content%}
    {% if userIp %}
        <div class="configuracion">
            <h2 class="configuracion__general--title">
                Configuracion General del Sistema
            </h2>
        </div>
        <section class="configuracion__general--detalles">
            <section class="general__detalles first-section">
                {{ macros.render_configuracionGeneralItem('Resolucion de la Camara: ', configuracion.to_dict()['resolucioncamara']) }}
                {{ macros.render_configuracionGeneralItem('Tiempo de Espera (segs): ', configuracion.to_dict()['tiempodeespera']) }}
                {{ macros.render_configuracionGeneralItemBoolDoor(statedoor, 'Sensor de puerta: ',  configuracion.to_dict()['estadosensordepuerta']) }}
                <!-- Boton para actualizar -->
                <a href="{{ url_for('auth.configurationUpdate') }}" class="boton__actualizar">
                    Actualizar
                </a>
            </section>
            <section class="general__detalles">
                {{ macros.render_configuracionGeneralItem('Numero de Registros: ', configuracion.to_dict()['numeroderegistros']) }}
                {{ macros.render_configuracionGeneralItem('Numero de Usuarios: ', configuracion.to_dict()['numerodeusuarios']) }}
                {{ macros.render_configuracionGeneralItemBool(statesystem, 'Estado del Sistema: ', configuracion.to_dict()['estadodelsistema']) }}
                {{ macros.render_configuracionGeneralItem('Fecha de Actualizacion: ', configuracion.to_dict()['fechadeactualizacion'], large=True) }}
            </section>
        </section>

        <div class="configuracion">
            <h3 class="item__title" id="table__phones">
                Telefonos para Emergencias.
            </h3>
            <table class="currents__users-table">
                <tr class="users__table-master">
                    <th class="users__table-item corner-left">User</th>
                    <th class="users__table-item">Telefono</th>
                    <th class="users__table-item" id="last">Rol</th>
                    <th class="users__table-item corner-right">Requerido</th>
                </tr>
                {{ macros.render_phonesTableDataFromConfig(phones, updatephones) }}
            </table>
        </div>
        <div class="bkg__container">
            <!-- <img src="https://p4.wallpaperbetter.com/wallpaper/968/675/647/banana-banana-trees-isla-dometepe-nicaragua-wallpaper-preview.jpg" alt="imagen" class="background__image"> -->
            <img src="{{ background }}" alt="imagen" class="background__image">
        </div>
    {% else %}
        <a href="{{ url_for('home') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}
