<header class="header">
    <div class="header__logo">
        <a href="{{ url_for('index') }}">
            <img class="header__logo-img" src="https://i.ibb.co/1Qjjj2t/pHcq4C3C.jpg" alt="Asbama Logo">
            <div class="header__logo-brand">
                <h1 class="brand__info-title">Asbama</h1>
                <p class="brand__info-slg">Asociación de Bananeros del Magdalena y la Guajira</p>
            </div>
        </a>
    </div>
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__menu-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="navbar__menu-item"><a href="http://asbama.com/home/asbama">About</a></li>
        </ul>
    </nav>
</header>