{% extends "base.html"  %}
{% import "macros.html" as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenido
{% endblock %}

{% block content%}
    {% if userIp %}
        <div class="bienvenida">
            <h1>Hola {{ username | capitalize }}, Bienvenido a</h1>
            <img class="logo" src="{{ url_for('static', filename='images/asbama.jpg') }}" alt="Asbama Logo">
        </div>
        <!-- {{ macros.render_userDataBlock(current_user) }} -->
        <div class="current__user-ingresos">
            <!-- Tabla de registros -->
        </div>
    {% else %}
        <a href="{{ url_for('index') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}
