{% extends "base.html"  %}
{% import "macros.html" as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenido
{% endblock %}

{% block content%}
    {% if userIp %}
        <h1>Hola {{ username | capitalize }}, Bienvenido a Asbama</h1>
        <img class="logo" src="{{ url_for('static', filename='images/asbama.jpg') }}" alt="Asbama Logo">
    {% else %}
        <a href="{{ url_for('index') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}
