{% extends "base.html"  %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Login
{% endblock %}

{% block content%}
    {% if userIp %}
        <div class="form__container">
            <img class="logo" src="{{ url_for('static', filename='images/asbama.jpg') }}" alt="Asbama Logo">
            <form action="{{ url_for('auth.login') }}" method="POST" class="form__container-session" role="form">
                <div class="container__session-item">
                    {{ login.username.label }}
                    {{ login.username }}
                </div>
                <div class="container__session-item">
                    {{ login.password.label }}
                    {{ login.password }}
                </div>
                <div class="container__session-submit">
                    {{ login.submit }}
                </div>
                <!-- {{ wtf.quick_form(login) }} -->
            </form>
        </div>
    {% else %}
        <a href="{{ url_for('index') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}