{% macro render_user(user) %}
    <li>Usuario: {{ user }}</li>
{% endmacro %}

{% macro render_flashes(category, message) %}
    {% if category == 'error'  or  category == 'messege' %}
        <div class="alert" id="{{ category }}">
            <button type="button"
                            data-dismiss="error"
                            class="close" onclick="CerrarNotificacionEmergenteError()">X</button>
            <!-- window.location.reload() -->
            <div class="mensaje" id="{{ category }}-mensaje">
                {{ message }}
            </div>
        </div>
    {% else %}
        <div class="alert" id="alerta">
            <button type="button"
                            data-dismiss="alert"
                            class="close" onclick="CerrarNotificacionEmergente()">X</button>
                            <!-- window.location.reload() -->
            <div class="mensaje" id="alerta-mensaje">
                {{ message }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_userData(title, info) %}
    <div class="user__info-macro">
        <p class="info__title"> {{ title }}:   </p>
        <p class="info__data">{{ info }}</p>
    </div>
{% endmacro %}

{% macro render_userDataBlock(user) %}
    <div class="current__user-info">
        <h2 class="user__info-tittle">
            Información del usuario
        </h2>
        <div class="user__info-details">
            <div class="user__info-image-container">
                {% if user.imagen != ' ' %}
                    <img class="user__info-photo" src="{{ user.imagen }}" alt=" ">
                {% else %}
                    <img class="user__info-photo" src="{{ url_for('static', filename='images/profile.jpg') }}" alt=" ">
                {% endif %}
            </div>
            <div class="user__info-data">
                {{ render_userData('Correo', user.correo) }}
                {{ render_userData('Username', user.username) }}
                {{ render_userData('Nombre', user.nombre) }}
                {{ render_userData('Role', user.role) }}
                {{ render_userData('Telefono', user.telefono) }}
                {{ render_userData('RFID', user.access) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_externalUserDataBlock(user) %}
    <div class="current__user-info">
        <h2 class="user__info-tittle">
            Información del usuario
        </h2>
        <div class="user__info-details">
            {% if user.to_dict().imagen != ' ' %}
                <img class="user__info-photo" src="{{ user.to_dict().imagen }}" alt=" ">
            {% else %}
                <img class="user__info-photo" src="{{ url_for('static', filename='images/profile.jpg') }}" alt=" ">
            {% endif %}
            <div class="user__info-data">
                {{ render_userData('Correo', user.to_dict().correo) }}
                {{ render_userData('Username', user.to_dict().username) }}
                {{ render_userData('Nombre', user.to_dict().nombre) }}
                {{ render_userData('Role', user.to_dict().role) }}
                {{ render_userData('Telefono', user.to_dict().telefono) }}
                {{ render_userData('RFID', user.to_dict().access) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_userTableData(users) %}
    {% for user in users %}
        <tr class="users__table-row">
            <th>
                <a class="vinculo" href="{{ url_for('users.externalUserData', username=user.to_dict()['username']) }}">
                    {{ user.to_dict()['username'].title() }}
                </a>
            </th>
            <td class="item">{{ user.to_dict()['role'] }}</td>
            <td class="item" >{{ user.to_dict()['nombre'] }}</td>
            <td class="item" id="last">{{ user.to_dict()['telefono'] }}</td>
        </tr>
    {% endfor %}
{% endmacro %}

{% macro render_registerTableData(registers) %}
    {% for register in registers %}
        <tr class="users__table-row">
            <th>
                <a class="vinculo" href="{{ url_for('users.externalUserData', username=register.user) }}">
                    {{ register.user.title() }}
                </a>
            </th>
            <td class="item">{{ register.telefono }}</td>
            <td class="item" >{{ register.fecha }}</td>
            <td class="item" id="last">{{ register.descripcion }}</td>
        </tr>
    {% endfor %}
{% endmacro %}

{% macro render_userItemData(users) %}
    {% for user in users %}
        <div class="carousel__item">
            <img class="carousel__item-img" src="{{ user.to_dict()['imagen'] }}" alt="{{ user.to_dict()['username'] }}">
            <div class="carousel__item-details">
                    <p class="item__details-username">
                        <a class="vinculo" href="{{ url_for('users.externalUserData', username=user.to_dict()['username']) }}">
                            {{ user.to_dict()['username'].title() }}
                        </a>
                    </p>
                    <p class="item__details-data" id="last">{{ user.to_dict()['nombre'] }}</p>
                    <p class="item__details-data">{{ user.to_dict()['role'] }}</p>
                    <p class="item__details-data">{{ user.to_dict()['telefono'] }}</p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_phonesTableData(phones, aceptedRole) %}
    {% for phone in phones %}
        {% if phone.role == aceptedRole %}
        <tr class="users__table-row">
            <th>
                <a class="vinculo" href="{{ url_for('users.externalUserData', username=phone.user.to_dict()['username']) }}">
                    {{ phone.user.to_dict()['username'].title() }}
                </a>
            </th>
            <td class="item">{{ phone.telefono }}</td>
            <td class="item" >{{ phone.role}}</td>
            <td class="item" id="last">{{ phone.update }}</td>
        {% endif %}
        </tr>
    {% endfor %}
{% endmacro %}
