{% macro render_user(user) %}
    <li>Usuario: {{ user }}</li>
{% endmacro %}

{% macro render_flashes(category, message) %}
    {% if category == 'error'  or  category == 'messege' %}
        <div class="alert" id="{{ category }}">
            <button type="button"
                            data-dismiss="error"
                            class="close" onclick="CerrarNotificacionEmergenteError()">X</button>
            <!-- window.location.reload() -->
            {{ message }}
        </div>
    {% else %}
        <div class="alert" id="alerta">
            <button type="button"
                            data-dismiss="alert"
                            class="close" onclick="CerrarNotificacionEmergente()">X</button>
                            <!-- window.location.reload() -->
            {{ message }}
        </div>
    {% endif %}
{% endmacro %}