{% if current_user.is_authenticated %}
    <div class="reabon">
        <ul class="reabon__list">
            {% if current_user.role == 'Administrador' %}
            <li>
                <a href="{{ url_for('home') }}" class="linked__reabon">Usuarios</a>
            </li>
            <li>
                <a href="{{ url_for('home') }}" class="linked__reabon">Register</a>
            </li>
            {% endif %}
            <li class="reabon__list--item">
                <a href="{{ url_for('auth.logout') }}" class="linked__reabon">Logout</a>
            </li>
        </ul>
    </div>
{% endif %}