{% if current_user.is_authenticated %}
    <div class="ribbon">
        <ul class="ribbon__list">
            {% if current_user.role == 'Administrador' %}
                {% if registroCode == 314 %}
                    <li class="ribbon__list--item">
                        <a href="{{ url_for('registros') }}" class="linked__ribbon">Ingreso</a>
                    </li>
                {% endif %}
                <li class="ribbon__list--item">
                    <a href="{{ url_for('telefonos') }}" class="linked__ribbon">Telefonos</a>
                </li>
                {% if update == 1%}
                    <li class="ribbon__list--item">
                        <a href="{{ url_for('auth.updateData') }}" class="linked__ribbon">Actualizar</a>
                    </li>
                {% endif %}
                {% if update == 2 %}
                    <li class="ribbon__list--item" id="last">
                        <a href="{{ url_for('auth.updateExternalData', username=user.to_dict()['username']) }}" class="linked__ribbon">Actualizar Rol</a>
                    </li>
                    <li class="ribbon__list--item">
                        <a href="{{ url_for('users.deleteUser', username=user.to_dict()['username']) }}" class="linked__ribbon">Eliminar</a>
                    </li>
                {% endif %}
                <li class="ribbon__list--item">
                    <a href="{{ url_for('users.userData') }}" class="linked__ribbon">Usuarios</a>
                </li>
                <li class="ribbon__list--item">
                    <a href="{{ url_for('auth.signup') }}" class="linked__ribbon">Registrar</a>
                </li>
            {% endif %}
            <li class="ribbon__list--item">
                <div class="user__nav">
                    <div class="user__nav--logo">
                            <!-- <img class="icon" src="./images/Logos/icons8-perfil-de-gato-100.png" alt="Profile"> -->
                            <p class="title"> {{ current_user.username | capitalize }} </p>
                    </div>
                    <ul class="user__nav--block">
                        <li class="nav__block--item"><a href="{{ url_for('account') }}" class="linked__ribbon--menu">Cuenta</a></li>
                        <li class="nav__block--item"><a href="{{ url_for('auth.changePassword') }}" class="linked__ribbon--menu">C. Contraseña</a></li>
                        <li class="nav__block--item"><a href="#" class="linked__ribbon--menu">Datos de Configuración</a></li>
                        <li class="nav__block--item"><a href="{{ url_for('auth.logout') }}" class="linked__ribbon--menu">Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
{% endif %}