{% extends "base.html"  %}
{% import "macros.html" as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Telefonos
{% endblock %}

{% block content%}
    {% if userIp and current_user.role == 'Administrador' %}
        <div class="current__user-info">
            <div class="table__title">
                Telefonos de Administradores
            </div>
            <table class="currents__users-table">
                <tr class="users__table-master">
                    <th class="users__table-item corner-left">User</th>
                    <th class="users__table-item">Telefono</th>
                    <th class="users__table-item" id="last">Rol</th>
                    <th class="users__table-item corner-right">Requerido</th>
                </tr>
                {{ macros. render_phonesTableData(phones, 'Administrador', updatephones) }}
            </table>
        </div>

        <div class="current__user-info">
            <div class="table__title">
                Telefonos de Operarios
            </div>
            <table class="currents__users-table">
                <tr class="users__table-master">
                    <th class="users__table-item corner-left">User</th>
                    <th class="users__table-item">Telefono</th>
                    <th class="users__table-item" id="last">Rol</th>
                    <th class="users__table-item corner-right">Requerido</th>
                </tr>
                {{ macros. render_phonesTableData(phones, 'Operario', updatephones) }}
            </table>
        </div>
    {% else %}
        <a href="{{ url_for('home') }}"> Algo ha salido mal, Reload </a>
    {% endif %}
{% endblock %}
